@model GCS.Models.Outcome

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Outcome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="">
                <div class="form-group" >
                    <label asp-for="Company_id" class="control-label"></label>
                    <input asp-for="Company_id" class="form-control" />
                    <span asp-validation-for="Company_id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Assessment_date" class="control-label"></label>
                    <input asp-for="Assessment_date" class="form-control" />
                    <span asp-validation-for="Assessment_date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="strat_fo_outcome_val_1" class="control-label"></label>
                <input asp-for="strat_fo_outcome_val_1" class="form-control" />
                <span asp-validation-for="strat_fo_outcome_val_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_fo_outcome_desc_1" class="control-label"></label>
                <input asp-for="strat_fo_outcome_desc_1" class="form-control" />
                <span asp-validation-for="strat_fo_outcome_desc_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_fo_outcome_val_2" class="control-label"></label>
                <input asp-for="strat_fo_outcome_val_2" class="form-control" />
                <span asp-validation-for="strat_fo_outcome_val_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_fo_outcome_desc_2" class="control-label"></label>
                <input asp-for="strat_fo_outcome_desc_2" class="form-control" />
                <span asp-validation-for="strat_fo_outcome_desc_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_fo_outcome_val_3" class="control-label"></label>
                <input asp-for="strat_fo_outcome_val_3" class="form-control" />
                <span asp-validation-for="strat_fo_outcome_val_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_fo_outcome_desc_3" class="control-label"></label>
                <input asp-for="strat_fo_outcome_desc_3" class="form-control" />
                <span asp-validation-for="strat_fo_outcome_desc_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_fo_outcome_val_4" class="control-label"></label>
                <input asp-for="strat_fo_outcome_val_4" class="form-control" />
                <span asp-validation-for="strat_fo_outcome_val_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_fo_outcome_desc_4" class="control-label"></label>
                <input asp-for="strat_fo_outcome_desc_4" class="form-control" />
                <span asp-validation-for="strat_fo_outcome_desc_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_fo_outcome_val_5" class="control-label"></label>
                <input asp-for="strat_fo_outcome_val_5" class="form-control" />
                <span asp-validation-for="strat_fo_outcome_val_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_fo_outcome_desc_5" class="control-label"></label>
                <input asp-for="strat_fo_outcome_desc_5" class="form-control" />
                <span asp-validation-for="strat_fo_outcome_desc_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_ro_outcome_val_1" class="control-label"></label>
                <input asp-for="strat_ro_outcome_val_1" class="form-control" />
                <span asp-validation-for="strat_ro_outcome_val_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_ro_outcome_desc_1" class="control-label"></label>
                <input asp-for="strat_ro_outcome_desc_1" class="form-control" />
                <span asp-validation-for="strat_ro_outcome_desc_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_ro_outcome_val_2" class="control-label"></label>
                <input asp-for="strat_ro_outcome_val_2" class="form-control" />
                <span asp-validation-for="strat_ro_outcome_val_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_ro_outcome_desc_2" class="control-label"></label>
                <input asp-for="strat_ro_outcome_desc_2" class="form-control" />
                <span asp-validation-for="strat_ro_outcome_desc_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_ro_outcome_val_3" class="control-label"></label>
                <input asp-for="strat_ro_outcome_val_3" class="form-control" />
                <span asp-validation-for="strat_ro_outcome_val_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_ro_outcome_desc_3" class="control-label"></label>
                <input asp-for="strat_ro_outcome_desc_3" class="form-control" />
                <span asp-validation-for="strat_ro_outcome_desc_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_ro_outcome_val_4" class="control-label"></label>
                <input asp-for="strat_ro_outcome_val_4" class="form-control" />
                <span asp-validation-for="strat_ro_outcome_val_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_ro_outcome_desc_4" class="control-label"></label>
                <input asp-for="strat_ro_outcome_desc_4" class="form-control" />
                <span asp-validation-for="strat_ro_outcome_desc_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_ro_outcome_val_5" class="control-label"></label>
                <input asp-for="strat_ro_outcome_val_5" class="form-control" />
                <span asp-validation-for="strat_ro_outcome_val_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strat_ro_outcome_desc_5" class="control-label"></label>
                <input asp-for="strat_ro_outcome_desc_5" class="form-control" />
                <span asp-validation-for="strat_ro_outcome_desc_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_fo_outcome_val_1" class="control-label"></label>
                <input asp-for="stake_fo_outcome_val_1" class="form-control" />
                <span asp-validation-for="stake_fo_outcome_val_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_fo_outcome_desc_1" class="control-label"></label>
                <input asp-for="stake_fo_outcome_desc_1" class="form-control" />
                <span asp-validation-for="stake_fo_outcome_desc_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_fo_outcome_val_2" class="control-label"></label>
                <input asp-for="stake_fo_outcome_val_2" class="form-control" />
                <span asp-validation-for="stake_fo_outcome_val_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_fo_outcome_desc_2" class="control-label"></label>
                <input asp-for="stake_fo_outcome_desc_2" class="form-control" />
                <span asp-validation-for="stake_fo_outcome_desc_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_fo_outcome_val_3" class="control-label"></label>
                <input asp-for="stake_fo_outcome_val_3" class="form-control" />
                <span asp-validation-for="stake_fo_outcome_val_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_fo_outcome_desc_3" class="control-label"></label>
                <input asp-for="stake_fo_outcome_desc_3" class="form-control" />
                <span asp-validation-for="stake_fo_outcome_desc_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_fo_outcome_val_4" class="control-label"></label>
                <input asp-for="stake_fo_outcome_val_4" class="form-control" />
                <span asp-validation-for="stake_fo_outcome_val_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_fo_outcome_desc_4" class="control-label"></label>
                <input asp-for="stake_fo_outcome_desc_4" class="form-control" />
                <span asp-validation-for="stake_fo_outcome_desc_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_fo_outcome_val_5" class="control-label"></label>
                <input asp-for="stake_fo_outcome_val_5" class="form-control" />
                <span asp-validation-for="stake_fo_outcome_val_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_fo_outcome_desc_5" class="control-label"></label>
                <input asp-for="stake_fo_outcome_desc_5" class="form-control" />
                <span asp-validation-for="stake_fo_outcome_desc_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_ro_outcome_val_1" class="control-label"></label>
                <input asp-for="stake_ro_outcome_val_1" class="form-control" />
                <span asp-validation-for="stake_ro_outcome_val_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_ro_outcome_desc_1" class="control-label"></label>
                <input asp-for="stake_ro_outcome_desc_1" class="form-control" />
                <span asp-validation-for="stake_ro_outcome_desc_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_ro_outcome_val_2" class="control-label"></label>
                <input asp-for="stake_ro_outcome_val_2" class="form-control" />
                <span asp-validation-for="stake_ro_outcome_val_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_ro_outcome_desc_2" class="control-label"></label>
                <input asp-for="stake_ro_outcome_desc_2" class="form-control" />
                <span asp-validation-for="stake_ro_outcome_desc_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_ro_outcome_val_3" class="control-label"></label>
                <input asp-for="stake_ro_outcome_val_3" class="form-control" />
                <span asp-validation-for="stake_ro_outcome_val_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_ro_outcome_desc_3" class="control-label"></label>
                <input asp-for="stake_ro_outcome_desc_3" class="form-control" />
                <span asp-validation-for="stake_ro_outcome_desc_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_ro_outcome_val_4" class="control-label"></label>
                <input asp-for="stake_ro_outcome_val_4" class="form-control" />
                <span asp-validation-for="stake_ro_outcome_val_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_ro_outcome_desc_4" class="control-label"></label>
                <input asp-for="stake_ro_outcome_desc_4" class="form-control" />
                <span asp-validation-for="stake_ro_outcome_desc_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_ro_outcome_val_5" class="control-label"></label>
                <input asp-for="stake_ro_outcome_val_5" class="form-control" />
                <span asp-validation-for="stake_ro_outcome_val_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stake_ro_outcome_desc_5" class="control-label"></label>
                <input asp-for="stake_ro_outcome_desc_5" class="form-control" />
                <span asp-validation-for="stake_ro_outcome_desc_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_fo_outcome_val_1" class="control-label"></label>
                <input asp-for="oper_fo_outcome_val_1" class="form-control" />
                <span asp-validation-for="oper_fo_outcome_val_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_fo_outcome_desc_1" class="control-label"></label>
                <input asp-for="oper_fo_outcome_desc_1" class="form-control" />
                <span asp-validation-for="oper_fo_outcome_desc_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_fo_outcome_val_2" class="control-label"></label>
                <input asp-for="oper_fo_outcome_val_2" class="form-control" />
                <span asp-validation-for="oper_fo_outcome_val_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_fo_outcome_desc_2" class="control-label"></label>
                <input asp-for="oper_fo_outcome_desc_2" class="form-control" />
                <span asp-validation-for="oper_fo_outcome_desc_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_fo_outcome_val_3" class="control-label"></label>
                <input asp-for="oper_fo_outcome_val_3" class="form-control" />
                <span asp-validation-for="oper_fo_outcome_val_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_fo_outcome_desc_3" class="control-label"></label>
                <input asp-for="oper_fo_outcome_desc_3" class="form-control" />
                <span asp-validation-for="oper_fo_outcome_desc_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_fo_outcome_val_4" class="control-label"></label>
                <input asp-for="oper_fo_outcome_val_4" class="form-control" />
                <span asp-validation-for="oper_fo_outcome_val_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_fo_outcome_desc_4" class="control-label"></label>
                <input asp-for="oper_fo_outcome_desc_4" class="form-control" />
                <span asp-validation-for="oper_fo_outcome_desc_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_fo_outcome_val_5" class="control-label"></label>
                <input asp-for="oper_fo_outcome_val_5" class="form-control" />
                <span asp-validation-for="oper_fo_outcome_val_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_fo_outcome_desc_5" class="control-label"></label>
                <input asp-for="oper_fo_outcome_desc_5" class="form-control" />
                <span asp-validation-for="oper_fo_outcome_desc_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_ro_outcome_val_1" class="control-label"></label>
                <input asp-for="oper_ro_outcome_val_1" class="form-control" />
                <span asp-validation-for="oper_ro_outcome_val_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_ro_outcome_desc_1" class="control-label"></label>
                <input asp-for="oper_ro_outcome_desc_1" class="form-control" />
                <span asp-validation-for="oper_ro_outcome_desc_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_ro_outcome_val_2" class="control-label"></label>
                <input asp-for="oper_ro_outcome_val_2" class="form-control" />
                <span asp-validation-for="oper_ro_outcome_val_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_ro_outcome_desc_2" class="control-label"></label>
                <input asp-for="oper_ro_outcome_desc_2" class="form-control" />
                <span asp-validation-for="oper_ro_outcome_desc_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_ro_outcome_val_3" class="control-label"></label>
                <input asp-for="oper_ro_outcome_val_3" class="form-control" />
                <span asp-validation-for="oper_ro_outcome_val_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_ro_outcome_desc_3" class="control-label"></label>
                <input asp-for="oper_ro_outcome_desc_3" class="form-control" />
                <span asp-validation-for="oper_ro_outcome_desc_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_ro_outcome_val_4" class="control-label"></label>
                <input asp-for="oper_ro_outcome_val_4" class="form-control" />
                <span asp-validation-for="oper_ro_outcome_val_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_ro_outcome_desc_4" class="control-label"></label>
                <input asp-for="oper_ro_outcome_desc_4" class="form-control" />
                <span asp-validation-for="oper_ro_outcome_desc_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_ro_outcome_val_5" class="control-label"></label>
                <input asp-for="oper_ro_outcome_val_5" class="form-control" />
                <span asp-validation-for="oper_ro_outcome_val_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oper_ro_outcome_desc_5" class="control-label"></label>
                <input asp-for="oper_ro_outcome_desc_5" class="form-control" />
                <span asp-validation-for="oper_ro_outcome_desc_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_fo_outcome_val_1" class="control-label"></label>
                <input asp-for="risk_fo_outcome_val_1" class="form-control" />
                <span asp-validation-for="risk_fo_outcome_val_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_fo_outcome_desc_1" class="control-label"></label>
                <input asp-for="risk_fo_outcome_desc_1" class="form-control" />
                <span asp-validation-for="risk_fo_outcome_desc_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_fo_outcome_val_2" class="control-label"></label>
                <input asp-for="risk_fo_outcome_val_2" class="form-control" />
                <span asp-validation-for="risk_fo_outcome_val_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_fo_outcome_desc_2" class="control-label"></label>
                <input asp-for="risk_fo_outcome_desc_2" class="form-control" />
                <span asp-validation-for="risk_fo_outcome_desc_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_fo_outcome_val_3" class="control-label"></label>
                <input asp-for="risk_fo_outcome_val_3" class="form-control" />
                <span asp-validation-for="risk_fo_outcome_val_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_fo_outcome_desc_3" class="control-label"></label>
                <input asp-for="risk_fo_outcome_desc_3" class="form-control" />
                <span asp-validation-for="risk_fo_outcome_desc_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_fo_outcome_val_4" class="control-label"></label>
                <input asp-for="risk_fo_outcome_val_4" class="form-control" />
                <span asp-validation-for="risk_fo_outcome_val_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_fo_outcome_desc_4" class="control-label"></label>
                <input asp-for="risk_fo_outcome_desc_4" class="form-control" />
                <span asp-validation-for="risk_fo_outcome_desc_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_fo_outcome_val_5" class="control-label"></label>
                <input asp-for="risk_fo_outcome_val_5" class="form-control" />
                <span asp-validation-for="risk_fo_outcome_val_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_fo_outcome_desc_5" class="control-label"></label>
                <input asp-for="risk_fo_outcome_desc_5" class="form-control" />
                <span asp-validation-for="risk_fo_outcome_desc_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_ro_outcome_val_1" class="control-label"></label>
                <input asp-for="risk_ro_outcome_val_1" class="form-control" />
                <span asp-validation-for="risk_ro_outcome_val_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_ro_outcome_desc_1" class="control-label"></label>
                <input asp-for="risk_ro_outcome_desc_1" class="form-control" />
                <span asp-validation-for="risk_ro_outcome_desc_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_ro_outcome_val_2" class="control-label"></label>
                <input asp-for="risk_ro_outcome_val_2" class="form-control" />
                <span asp-validation-for="risk_ro_outcome_val_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_ro_outcome_desc_2" class="control-label"></label>
                <input asp-for="risk_ro_outcome_desc_2" class="form-control" />
                <span asp-validation-for="risk_ro_outcome_desc_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_ro_outcome_val_3" class="control-label"></label>
                <input asp-for="risk_ro_outcome_val_3" class="form-control" />
                <span asp-validation-for="risk_ro_outcome_val_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_ro_outcome_desc_3" class="control-label"></label>
                <input asp-for="risk_ro_outcome_desc_3" class="form-control" />
                <span asp-validation-for="risk_ro_outcome_desc_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_ro_outcome_val_4" class="control-label"></label>
                <input asp-for="risk_ro_outcome_val_4" class="form-control" />
                <span asp-validation-for="risk_ro_outcome_val_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_ro_outcome_desc_4" class="control-label"></label>
                <input asp-for="risk_ro_outcome_desc_4" class="form-control" />
                <span asp-validation-for="risk_ro_outcome_desc_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_ro_outcome_val_5" class="control-label"></label>
                <input asp-for="risk_ro_outcome_val_5" class="form-control" />
                <span asp-validation-for="risk_ro_outcome_val_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="risk_ro_outcome_desc_5" class="control-label"></label>
                <input asp-for="risk_ro_outcome_desc_5" class="form-control" />
                <span asp-validation-for="risk_ro_outcome_desc_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
